.logo{
    font-size: 26px;
    font-weight: 600;
}
.ul-nav{
    font-size: 15px;
}
.btn-nav{
    border: 1px solid white;
    display: flex;
    padding: 3px 7px;
    color: white;
    align-items: center;
    gap: 5px;
    border-radius: 20px;
    svg{
        color: white;
        font-size: 16pt;
    }
}
@media screen and (max-width: 767px) {
    .btn-nav{
        font-size: 10pt;
        svg{
            font-size: 12pt;
        }
    }
}
@media screen and (max-width: 1260px) {
    .navv{
        .ul-nav{
            font-size: 10pt ;
        }
    }
}
@media screen and (max-width: 1080px) {
    .navv{
        .ul-nav{
            display: none !important;
        }
    }
    .btn-none{
        display: none;
    }
}
.navv{
    .btn-close1{
        display: none !important;
    }
}
@media screen and (min-width: 1081px) {
    .btn-menu{
        display: none;
    }
}
.modal-backdrop{
    display: none;
}
.modal, .modal-dialog{
    z-index: 1051 !important;
}
.modal-content{
    background: none;
    color: white;
}
.modal-content::before{
    content: '';
    background-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    opacity: 0.8;
}
.d-inp{
    width: 700px;
}
.input-sr{
    width: 100%;
   background: none !important;
   caret-color: white;
   font-size: 20pt;
   color: white !important;
}
.input-sr::placeholder{
    color: white;
}
@media screen and (max-width: 900px) {
    .d-inp{
        width: 90% !important;
    }
}
@media screen and (max-width: 600px) {
    .input-sr{
        font-size: 15pt;
    }
}
@media screen and (max-width: 420px) {
    .input-sr{
        font-size: 12pt;
    }
}

.navbar-mobile{
    width: 100%;
    height: 100vh;
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    .btn-close1{
        top: 30px;
        font-size: 17pt;
        right: 30px;
        color: white;
    }
    h1{
        display: none;
    }
    .btn-nav{
        display: none;
    }
    .nav-ul1{
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        a{
            color: white;
            font-family: 'Montserrat';
            font-size: 20pt;
            margin: 10px 0;
            display: block;
            width: 100%;
        }
    }
    .btn-menu{
        display: none;
    }
    
}